//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 17 22:00:49 2015
//! **************************************************************************

SCHEMATIC START;
COMP "gain" LOCATE = SITE "F10" LEVEL 1;
COMP "play" LOCATE = SITE "D9" LEVEL 1;
COMP "Clk_in" LOCATE = SITE "V10" LEVEL 1;
COMP "shutdown" LOCATE = SITE "E11" LEVEL 1;
COMP "Clk_out" LOCATE = SITE "G11" LEVEL 1;
SCHEMATIC END;

