//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 17 14:37:25 2015
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "B<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "B<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "G<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "G<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "G<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "R<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "R<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "R<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "back" LOCATE = SITE "K5" LEVEL 1;
COMP "move" LOCATE = SITE "K2" LEVEL 1;
COMP "svn_digit<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "svn_digit<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "svn_digit<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "svn_digit<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "pad_l" LOCATE = SITE "H3" LEVEL 1;
COMP "pad_r" LOCATE = SITE "F2" LEVEL 1;
COMP "test_led0" LOCATE = SITE "U16" LEVEL 1;
COMP "test_led1" LOCATE = SITE "V16" LEVEL 1;
COMP "seven<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seven<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seven<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seven<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seven<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seven<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seven<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "title_toggle" LOCATE = SITE "J6" LEVEL 1;
SCHEMATIC END;

