

NET "B[1]" LOC = T7;
NET "B[0]" LOC = R7;
//NET "B_control[0]" LOC = A8;
//NET "B_control[1]" LOC = T9;
//NET "G_control[0]" LOC = V9;
//NET "G_control[1]" LOC = M8;
//NET "G_control[2]" LOC = N8;
//NET "R_control[0]" LOC = U8;
//NET "R_control[1]" LOC = V8;
//NET "R_control[2]" LOC = D9;
NET "G[0]" LOC = P8;
NET "G[1]" LOC = T6;
NET "G[2]" LOC = V6;
NET "R[0]" LOC = U7;
NET "R[1]" LOC = V7;
NET "R[2]" LOC = N7;
NET "clk" LOC = V10;
NET "VS" LOC = P7;
NET "HS" LOC = N6;
NET "move" LOC =D9;
NET "back" LOC = C4;
NET "pad_r" LOC = A8;
NET "pad_l" LOC = B8;




NET "seven[0]" LOC = L14;
NET "seven[1]" LOC = N14;
NET "seven[2]" LOC = M14;
NET "seven[3]" LOC = U18;
NET "seven[4]" LOC = U17;
NET "seven[5]" LOC = T18;
NET "seven[6]" LOC = T17;
NET "svn_digit[0]" LOC = N16;
NET "svn_digit[1]" LOC = N15;
NET "svn_digit[2]" LOC = P18;
NET "svn_digit[3]" LOC = P17;


//NET "led0" LOC = U16;
//NET "ctr[1]" LOC = V16;
//NET "ctr[2]" LOC = U15;
//NET "ctr[3]" LOC = V15;
NET "rst" LOC = C9;
//NET "button" LOC = C4;

# PlanAhead Generated physical constraints 

//NET "move_switch" LOC = T10;
